body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #f8f8f8;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #ffffff;
}

.sidebar .nav-link.active {
  color: #f9ef23;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-color: #f9ef23; 
    /*--- Yellow color ----*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  color: var(--third-color);
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;

}

.logo span {
  color: var(--primary-color);
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f9ef23;
  color: #000;
}

.my-custom-pagination-button .page-link {
  background-color: #343a40; /* bg-dark */
  color: #ffffff; /* White text */
  border: #f9ef23;
}

.my-custom-pagination-button:hover .page-link,
.my-custom-pagination-button.active .page-link {
  background-color: #f9ef23; /* Your custom color */
  color: #343a40; /* White text */
}

.btn-custom {
  background-color: #343a40; /* bg-dark */
  color: #ffffff; /* White text */
  border: #f9ef23;
  margin: 5px;
}

.btn-custom:hover {
  background-color: #f9ef23; /* Your custom color */
  color: #343a40; /* White text */
}



.suggestions {
  background: #343a40; /* bg-dark */
  color: #ffffff; /* White text */
  border: 1px solid #343a40; /* Custom yellow border */
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1; /* to make sure it's above other content */
  width: 100%;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f9ef23; /* Custom yellow border */
}

.suggestions div:hover {
  background-color: #f9ef23; /* Your custom color */
  color: #343a40; /* Dark text */
}


  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .modal-video {
    width: 48%;  /* you can adjust this as per your need */
  }

  @media (max-width: 600px) {
    .modal-video {
      width: 100%;
    }
  }

  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9ef23;
    color: #333;
    border-radius: 5px;
  }

  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-container .form-group {
    margin-bottom: 15px;
  }

  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-container .form-group input,
  .form-container .form-group select,
  .form-container .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  .form-container .form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #f9ef23;
    font-size: 16px;
    cursor: pointer;
  }

  p{
    font-size:1.1rem;
    /* color: #f9ef23; */
  }

  .custom-inp{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
  }



  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* .body {
    background-image: linear-gradient(to bottom, #384B9D, #8F0B94);
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */
  
  #body {
    height: 700px;
  }
  
  #img-toggler {
    z-index: 2;
    border-top-color: var(--bs-gray-400);
    height: 0px;
    transition: 0.3s ease-out;
  }
  #img-toggler.deployed {
    transition: 0.3s ease-out;
    height: 358px;
  }
  
  #btn-male {
    font-size: 40px;
  }
  #btn-male.active {
    color: #384B9D !important;
    pointer-events: none;
  }
  #btn-male.active svg {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.541));
  }
  #btn-male:not(.active).dark-mode {
    color: var(--bs-gray-700) !important;
  }
  
  #btn-female {
    font-size: 40px;
  }
  #btn-female.active {
    color: #8F0B94 !important;
    pointer-events: none;
  }
  #btn-female.active svg {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.541));
  }
  #btn-female:not(.active).dark-mode {
    color: var(--bs-gray-700) !important;
  }

  #btn-calc {
    font-size: 25px;
    font-weight: 600;
    background-image: linear-gradient(to right, #f9ef23, #f9ef23);
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
  
  .form-label {
    font-family: Fira Mono, monospace;
    font-size: 15px;
  }
  
  #weight-indicator {
    background-color: #384B9D;
    height: 1.5em;
    width: 4em;
    left: -4%;
    top: 60px;
  }


  #damn {
    display: none;
  }
  
 
  
  